html {
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    src: url(/script/source/fonts/retrofont.otf);
    font-family: 'Terminator Gen';
    font-weight: normal;
}

body {
    background: url(/script/source/img/bg.jpg) no-repeat fixed;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
}

.header {
    position: relative;
    margin: auto;
    font-family: Terminator Gen;
    color: #fffdfd;
    text-align: center;
    font-size: 2em;
}

.container {
	display: flex;
}

.align-middle {
	margin: auto;
    background: rgba(0,0,0,0.5);
    padding: 6% 6% 3% 10%;
    font-size: 2em;
    font-family: Terminator Gen;
    color: #fffdfd;
    text-align: right;
    border-radius: 12px;
    /*opacity: 0.7;*/
    /*border: 5px solid #60f467;*/
}

li {
    list-style-type: none;
}

a {
	display: inline-block;
    font-weight: normal;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.3em 0.5em;
    margin: 0.2em 0.3em;
    color: black;
    background-color: rgba(254, 0, 125, 0.7);
}

a:hover {
    text-decoration: underline;
    color: white;
    background-color: #2d65a0;
}


.containerCreateBtn {
    text-align: center;
}

.createBtn {
    text-decoration: none;
    background-color: #e45d29;
}
