body {
    background-color: antiquewhite;
    font-size: 2em;
}

div {
    margin-bottom: 1vh;
}

.text {
    text-align: center;
}

.button{
    font-weight: normal;
    text-decoration: none;
    border: 3px solid sienna;
    border-radius: 25px;
    padding: 0.2em 0.5em;
    color: sienna;
    background-color: antiquewhite;
    font-size: 1em;
}

.button:hover {
    text-decoration: underline;
    color: white;
    background-color: sienna;
}
